.header {
    background-color: #20274c;
    
    
  }


  @media only screen and (max-width: 768px) {
    .titleC {
      font-size: 24px;
    }
    .textC {
      font-size: 16px;
    }
  }
  
  .titleC {
    
    text-align: center;
    color: #a8a8a8;
    height: 150px;
    padding-top: 2%;
    font-size: 45px;
    text-shadow: #a8a8a8;
    
  }
   p.textC{
    
    text-align: center;
    color: #a8a8a8;
    padding-bottom: 20%;
    font-size: 18px;
    text-shadow: #a8a8a8;
    margin-block-start: 1%;
    
   }

   
   .CBody{
    position: absolute; /* add position absolute to remove the carousel from the normal flow */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* set a lower z-index value than the text */
    padding-top: 2%;
    position: relative;
    
   }